
* {
  box-sizing: border-box;
}

.ab-api-wrap {
  background: linear-gradient(142deg, #3f51b5, #9c27b0);
  height: 100vh;
  padding: 2em;
}

h1 {
  color: white;
  text-align: center;
}

.error {
  margin-bottom: 13px;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.ab-api-content {
  max-width: 600px;
  margin: 0 auto;
}